html
  head
    title Twiddly | Next
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    style.
      .v-offset-0 { margin-top: 2px; }
      .v-offset-1 { margin-top: 5px; }
      .v-offset-2 { margin-top: 10px; }
      .v-offset-3 { margin-top: 15px; }
      .v-offset-4 { margin-top: 30px; }
      .v-offset-5 { margin-top: 40px; }
      .v-offset-6 { margin-top: 60px; }
      .v-offset-7 { margin-top: 80px; }
      .v-offset-8 { margin-top: 100px; }
      .v-offset-9 { margin-top: 150px; }
      body { background-color: #333; color: #fff; }
      .panel-body { color: #333;}
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  body
    #wrapper.col-xs-10.col-xs-offset-1.v-offset-8.text-center
      h1 Synapse
      .connections.col-xs-12.v-offset-8
        each person in connections
          if person.headline
            if person.headline[0].toLowerCase().indexOf("developer") > -1
              .person.col-xs-4
                .panel.panel-default.col-xs-12(style="min-height: 200px;")
                  .panel-body
                    h3 #{person['first-name']} #{person['last-name']}
                    p #{person.headline}
